---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const pages = await getCollection("posts");

    const paths = pages.map((page) => {
        const [lang, category, series] = page.slug.split("/");
        return {
            params: { lang, category, series },
        };
    });

    return paths;
}
---

<p>Series</p>
