---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import { getCollection } from "astro:content";

const allSecPosts = await getCollection("sec");
---

<MySiteLayout>
  <ul>
    {
      allSecPosts.map((post) => (
        <li>
          <a href={`${post.collection}/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</MySiteLayout>
