---
const { categories } = Astro.props;
const colors = {
    development: "bg-sky-500/50",
    security: "bg-yellow-500/50",
    operations: "bg-green-500/50",
};
---

<aside class="flex flex-row flex-wrap md:justify-end max-w-xl">
    {
        categories?.map((category) => (
            <p
                class={`${colors[category]} p-1 rounded m-1 h-fit w-fit`}
            >{`#${category}`}</p>
        ))
    }
</aside>
