---
import { getCollection } from "astro:content";
const { text } = Astro.props;
const texts = await getCollection("text");
const cleartext = texts.find(
  (t) => t.slug.includes(text) && !!t.data.cleartext
);
const ciphertext = texts.find(
  (t) => t.slug.includes(text) && !t.data.cleartext
);

const { Content: CipherContent } = await ciphertext?.render();
const { Content: ClearContent } = await cleartext?.render();
---

<div class="bg-slate-800">
  <div id="cipher" class="text-sky">
    <CipherContent />
  </div>

  <div id="clear" class="text-green" hidden>
    <ClearContent />
  </div>
</div>

<div class="container bg-pink-600 rounded flex justify-center">
  <button class="alert">Decrypt</button>
</div>

<script>
  const cipher = document.getElementById("cipher");
  const clear = document.getElementById("clear");
  const buttons = document.querySelectorAll("button.alert");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      if (cipher) {
        cipher.hidden = !cipher?.hidden;
      }
      if (clear) {
        clear.hidden = !clear?.hidden;
      }
      if (cipher?.hidden) {
        button.textContent = "Encrypt";
      } else {
        button.textContent = "Decrypt";
      }
    });
  });
</script>
