---
import SiteLayout from "../layouts/SiteLayout.astro";
import { useTranslations } from "../i18n/utils";
import Banner from "./Banner.astro";
import PostsList from "./PostsList.astro";
import { BannerType } from "./Banner.astro";

const [, lang] = Astro.url.pathname.split("/");
const t = useTranslations(lang as "en" | "sr");
const { posts } = Astro.props;
---

<SiteLayout title={t("home.title")}>
    <Banner type={BannerType.Warning}>{t("home.disclaimer")}</Banner>
    <section class="posts">
        <PostsList
            posts={posts}
            title={t("home.latest")}
            subtitle="Read some of the latest posts from the blog."
        />
    </section>
</SiteLayout>
