---
import SiteLayout from "@layouts/SiteLayout.astro";
import { useTranslations } from "../i18n/utils";
import Banner, { BannerType } from "./Banner.astro";
import PostsList from "./PostsList.astro";

const [, lang] = Astro.url.pathname.split("/");
const t = useTranslations(lang as "en" | "sr");
const { posts } = Astro.props;
---

<SiteLayout title={t("home.title")}>
    <main class="max-w-3xl md:mx-auto">
        <Banner type={BannerType.Warning}>{t("home.disclaimer")}</Banner>
        <section class="posts">
            <PostsList
                posts={posts}
                title={t("home.latest")}
                subtitle={t("home.subtitle")}
            />
        </section>
    </main>
</SiteLayout>
