---
import { getEntry } from "astro:content";
import { useTranslations } from "../i18n/utils";
import PostsList from "./PostsList.astro";
const [, lang] = Astro.url.pathname.split("/");

const { posts } = Astro.props;
const relatedPosts = await Promise.all(
    posts.map((slug) => getEntry("posts", slug)),
);
const t = useTranslations(lang as "en" | "sr");
---

<h2>{t("toc.relatedPosts")}</h2>
<PostsList posts={relatedPosts} />
