---
import { getCollection } from "astro:content";
import SiteLayout from "../layouts/SiteLayout.astro";
import PostsList from "./PostsList.astro";
import { useTranslations } from "../i18n/utils";

const [, lang, section] = Astro.url.pathname.split("/");
const nonDraftPosts = await getCollection(
    "posts",
    ({ data, slug }) =>
        !data.draft &&
        slug.startsWith(lang) &&
        data.categories.includes(section as any)
);
const posts = [...nonDraftPosts].sort((a, b) =>
    a.data.date < b.data.date ? 1 : -1
);
const t = useTranslations(lang as "en" | "sr");
---

<SiteLayout title={t(section as any)}>
    <section class="posts">
        <PostsList
            posts={posts}
            title={t(`${section}.title` as any)}
            subtitle={t(`${section}.subtitle` as any)}
        />
    </section>
</SiteLayout>
