<footer class="mt-auto font-mono max-w-none truncate">
  <nav>
    <ul class="flex flex-col justify-around w-full lg:flex-row">
      <li class="flex dark:text-white lg:justify-center">
        link:<a href="https://www.linkedin.com/in/uros-dragojevic-160322226/"
          >linkedin</a
        >
      </li>
      <li class="flex dark:text-white lg:justify-center">
        link:<a href="https://github.com/urosdragojevic">github</a>
      </li>
      <li class="flex dark:text-white lg:justify-center">
        mailto:<a href="mailto:uros@urosdragojevic.com"
          >uros@urosdragojevic.com</a
        >
      </li>
      <li class="flex dark:text-white lg:justify-center">
        UX:<a href="https://sites.google.com/view/galaradojicic/home"
          >g.designs</a
        >
      </li>
    </ul>
  </nav>
</footer>
