---
const { type } = Astro.props;
let typeClass = "text-black dark:text-white flex items-center mb-8";
switch (type) {
    case 0: {
        typeClass = typeClass.concat(" bg-red-500/50");
        break;
    }
    case 1: {
        typeClass = typeClass.concat(" bg-yellow-500/50");
        break;
    }
}
---

<aside class={typeClass}>
    <span class="m-2 text-xl">⚠</span>
    <p class="px-2"><slot /></p>
</aside>
