---
import MyFooter from "../components/MyFooter.astro";
import MyHeader from "../components/MyHeader.astro";
---

<html>
  <body>
    <MyHeader title="blog.urosdragojevic" />
    <div><slot /></div>
    <MyFooter title="Trademark 2023" />
  </body>
</html>
