---
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";

const {
  title,
  displayHeader = true,
  displayFooter = true,
  displayNavIcons = true,
} = Astro.props;
---

<!doctype html>
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="prose lg:prose-lg dark:prose-invert bg-zinc-100 dark:bg-zinc-900 min-w-full min-h-screen mx-auto px-4 flex flex-col justify-between"
  >
    {displayHeader && <SiteHeader />}
    <slot />
    {displayFooter && <SiteFooter displayNavIcons={displayNavIcons} />}
  </body>
</html>
